@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.back {
    width: 100vw;
    height: 100vh;
    background-color: #040000;
    /*background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");*/
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-box {
    /*background-color: #000;*/
    width: 300px;
    padding: 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

    .login-box:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        /*background: #282828;*/
        z-index: -1;
    }

    .login-box:after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        /*background: #fff;*/
        z-index: -2;
        /*filter: blur(10px);*/
    }

.btn {
    color: #fff;
}

.button:hover {
    background-color: #fff;
}

.button {
    width: 100%;
    background: none !important;
    border: 2px solid #fff !important;
    color: white;
    outline: none;
    padding: 5px !important;
    font-size: 18px !important;
    cursor: pointer;
    margin: 12px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fff;
}

    .textbox i {
        width: 26px;
        float: left;
        text-align: center;
    }

    .textbox input {
        border: none;
        outline: none;
        background: white;
        color: white;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }
