body, html {
    height: 100%;
}

.bg {
    background-image: url('../public/img/backdrop.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-center {
    height: 100vh;
    /*border: solid 1px #ffffff;*/
    align-items: center;
}

.prepanet-center {
    margin-top: 10em;
    margin-bottom: 3em;
}

.prepanet-input {
    width: 400px;
    margin-bottom: 2em;
}

.prepanet-button {
    width: 400px;
    margin-bottom: 2em;
}
