body, html {
    /*height: 100%;*/
    overflow: auto;
}

.bg-tablas {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0));
    background-color: #0f1628;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.tablaAlumnos{
    overflow: auto;
}

.titulo {
    margin: 20px 10px 0px 50px;
    color: white;
}

.container-width-tabla {
    /*width: 200vh;
    border: solid 1px #ffffff;
    align-self: center;*/
    height: 40px;
    margin: 20px 0px 10px 30px;
}

.buscar-width {
    width: 400px;
    margin: 25px 10px 0px 50px;
}

.filter-button {
    align-content: center;
    margin: 20px 0px 0px 0px;
}

.link-format {
    text-decoration: none;
    color: black;
}

.bg-taller{
    overflow:auto;
}
