@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

.title {
  color: #f8f8f8;
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.text {
  color: #f8f8f8;
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-weight: 400;
}

:root {
  --font-size-s: 14px;
  --font-size-m: 20px;
  --font-size-l: 30px;
  --font-size-xl: 64px;
  --font-size-xl2: 70px;
  --font-family-raleway: "Raleway";
}
