<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094084394938-u2nti243v11vkr0hvg4d3s2qtdhralv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094084394938-u2nti243v11vkr0hvg4d3s2qtdhralv5</string>
	<key>API_KEY</key>
	<string>AIzaSyBnkvKIXFDo3_w55bia-SisdOWKTqkIBC0</string>
	<key>GCM_SENDER_ID</key>
	<string>1094084394938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tec.AppMovilPrepanet</string>
	<key>PROJECT_ID</key>
	<string>prepanetcyberware</string>
	<key>STORAGE_BUCKET</key>
	<string>prepanetcyberware.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094084394938:ios:24c334b5c370cda29ea783</string>
	<key>DATABASE_URL</key>
	<string>https://prepanetcyberware-default-rtdb.firebaseio.com</string>
</dict>
</plist>